.input{
    display:grid;

    width: 150px;
}
.log-are{
    border:1px solid;
    padding: 10px;
    width:200px;
}
.right{
    width: 200px;
    border-bottom: 1px solid gray ;


}
.area{
border:none;
}